@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Fjalla+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_pai{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(202, 40, 40);
}

.col-50{
    width: 50%;
}

.logo img{
    width: 150px;
    height: 100px;
}

.container_redes{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.redes_sociais{
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.redes_sociais a{
    text-decoration: none;
    align-items: center;
    color: rgb(255, 255, 255);
}

.container_nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(36, 34, 34);
}

.col-70{
    width: 70%;
}

.menu{
    font-size: medium;
    color: rgb(255, 255, 255);
    font-weight: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    padding: 10px 0 0 0;
}

.menu a{
    text-decoration: none;
    padding: 20px;
    color: #fff;
}

.menu a:active{
    background-color: aliceblue;
    color: black;
    height: 30px;
    
}

.menu a:hover{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    height: 23px
}

.col-30{
    width: 30%;
}

input[type="text"]{border-radius: 10px;
height: 23px;
}

.container_formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(imagem_formulario/imagem-de-fundo.png);
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgb rgba(79, 34, 34, 0.253);
    border-radius: 10px;
    color: aliceblue;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(50px);
}

.container h1{
    font-size: 36px;
    text-align: center;   
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 0.253);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 10px 15px 5px 5px;
}

.input-box input ::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.remember_forgot{
    display: flex;
    justify-content: space-between;
    margin: -5px 0 15px;
}

.remember_forgot label input{
    accent-color: #fff;
    margin-right: 5px;

}

.remember_forgot a{
    text-decoration: none;
    color: #4a01f4;
}

.remember_forgot a:hover{
    text-decoration: underline;
}

.login{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #302a2a;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: 15px 0 0 0;
}

.login:hover{
    background-color: transparent;
    border: 2px solid #302a2a;
    color: #fff;
    transition: 0.5s;
}

.back{
    /* height: 150px;
    background-color: #fff;
    
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #302a2a;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: 15px 0 0 0; */
    width: 100%;
    height: 150px;
    padding: 20px;
    background-color: #fff;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    margin: 15px 0 0 0 ;
    font-size: 16px;
    border: none;

}

.back:hover{
    background-color: transparent;
    border: 2px solid #302a2a;
    color: #fff;
    transition: 0.5s;
}

footer{
   background-color: rgb(202, 40, 40);
   color: aliceblue;
   padding: 40px 0px;
}

footer .line-footer1{
    text-align: center;
    border-bottom: 1px solid #ffff;
}

.line-footer1 h2{
    font-size: 40px;
    margin: 10px 0px 20px 0px;
    justify-content: center;
    padding-bottom: 40px;
}

.line-footer1 p{
    font-size: 20px;
}

.line-footer1 form{
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}

.line-footer1 form{
    width: 300px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffff;
}

footer .line-footer2{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffff;
}

footer .line-footer2 .box-line-footer{
    max-width: calc(100% / 5);
}

footer .box-line-footer img{
    max-width: 200px;
    margin-bottom: 10px;
}

.line-footer2 .box-line-footer h3{
    color: #ffff;
    margin-bottom: 20px;
}

.line-footer2 .box-line-footer a{
    color: #ffff;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 30px;
}

.line-footer2 .box-line-footer .btn-redes a{
    display: inline;
    margin: 20px;
}

.line-footer3{
    padding-top: 40px;
    text-align: center;
}

.box-line-footer p{
    align-items: center;
    margin: 50px;
}
